:root {
  background-color: #e9e9e9;
  font-family: 'Roboto';
}

.form {
  display: flex;
  flex-direction: column;
}

.inputText {
  height: 20vh;
  width: 100%;
  margin-bottom: 2vh;
  resize: none;
  font-size: 3vh;
  outline: none;
  border-radius: 1vh;
  border: none;
  box-shadow: 0.5vh 0.5vh 1.5vh -0.5vh rgba(0, 0, 0, 0.2);
  font-family: 'Roboto';

  &:focus {
    box-shadow: 0.5vh 0.5vh 1.5vh -0.5vh rgba(0, 0, 0, 0.6);
  }
}

.wrap {
  display: flex;
  column-gap: 2vh;
}

.buttonSubmit {
  height: 10vh;
  font-size: 2.5vh;
  background-color: #fff;
  outline: none;
  border-radius: 1vh;
  border: none;
  box-shadow: 0.5vh 0.5vh 1.5vh -0.5vh rgba(0, 0, 0, 0.2);
  font-family: 'Roboto';

  &:active {
    box-shadow: 0.5vh 0.5vh 1.5vh -0.5vh rgba(0, 0, 0, 0.5);
  }
}

.inputPassword {
  height: 5vh;
  margin-bottom: 2vh;
  resize: none;
  font-size: 3vh;
  outline: none;
  border-radius: 1vh;
  border: none;
  box-shadow: 0.5vh 0.5vh 1.5vh -0.5vh rgba(0, 0, 0, 0.2);
  font-family: 'Roboto';

  &:focus {
    box-shadow: 0.5vh 0.5vh 1.5vh -0.5vh rgba(0, 0, 0, 0.6);
  }
}
